.common-font {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px; /* 116.667% */
}

.main__filters {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 280px;

  .main__filters__categories {
    @extend .common-font;
    display: flex;
    flex-direction: column;
    line-height: 16px; /* 114.286% */
    margin-top: 39px;

    .main__filters__categories__label {
      cursor: pointer;
      position: relative;
      margin-left: 8px;

      &::after {
        @extend .common-font;
        content: "3";
        position: absolute;
        top: 1px;
        right: 16px;
        color: #333;
        font-size: 12px;
      }
    }

    .main__filters__categories__content {
      display: none;
      flex-direction: column;
      gap: 4px;
      margin-top: 9px;

      label {
        cursor: pointer;
        position: relative;
        padding: 5px 0 5px 32px;

        &:hover {
          border-radius: 5px;
          background-color: #e2efff;
        }
        &::after {
          @extend .common-font;
          content: "3";
          position: absolute;
          top: 6px;
          right: 16px;
          color: #333;
          font-size: 12px;
        }
      }

      label:has(input:checked) {
        border-radius: 5px;
        background-color: #e2efff;
      }

      input {
        display: none;
      }
    }

    .main__filters__categories__label:has(
        .main__filters__categories__header:checked
      )
      + .main__filters__categories__content {
      display: flex;
    }

    .main__filters__categories__header {
      display: none;
    }
  }

  .main__filters__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 14px;
    margin-top: 10px;

    h4 {
      width: 100%;
      margin: 21px 0 16px;
    }

    .main__filters__price__input {
      position: relative;

      .weird-label {
        @extend .common-font;
        position: absolute;
        color: #333;
        top: 11px;
        left: 26px;
        line-height: 16px; /* 114.286% */
      }
    }

    .main__filters__price__input {
      position: relative;

      &::after {
        @extend .common-font;
        content: attr(data-placeholder);
        position: absolute;
        left: 9px;
        top: 12px;
        pointer-events: none;
        color: #aaa;
        font-size: 12px;
      }
    }

    input {
      @extend .common-font;
      max-width: 119px;
      border-radius: 4px;
      border: 1px solid #d5d5d5;
      background: #fff;
      color: #333;
      line-height: 16px;
      padding: 9px 9px 9px 25px;
    }
  }

  .main__filters__brand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 17px;
    margin-top: 30px;

    h4 {
      padding: 0;
      margin: 0;
    }

    input {
      @extend .common-font;
      color: #aaa;
      background: url("../../assets/search-categoty.svg") no-repeat 11px 9px;
      line-height: 16px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #d5d5d5;
      padding: 7px 0 10px 35px;
    }

    span {
      @extend .common-font;
      color: #aaa;
      text-align: right;
      font-size: 12px;
      line-height: 12px;
      text-decoration-line: underline;
    }
  }

  .main__filters__size {
    h4 {
      text-align: center;
      margin: 27px 0 16px 0;
    }

    input {
      width: fit-content;
    }
  }
}

.main__filters__brand__options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16.2px;
  max-height: 181px;
  overflow: scroll;
  padding-top: 2px;

  .main__filters__brand__options__input-wrapper {
    display: flex;

    input {
      display: none;
    }

    label {
      @extend .common-font;
      cursor: pointer;
      position: relative;
      color: #333;
      width: 100%;
      line-height: 16px;
      margin-left: 31px;
    }

    label::before {
      position: absolute;
      left: -31px;
      top: -2px;
      content: url("../../assets/checkbox-auto.svg");
    }

    input:checked ~ label::before {
      content: url("../../assets/checkbox-checked.svg");
    }

    label::after {
      @extend .common-font;
      content: "3";
      top: 2px;
      position: absolute;
      right: 16px;
      color: #aaa;
      text-align: right;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 692px) {
  .main__filters {
    display: none;
  }
}
