.main__items {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 32px;

  .main__items__card {
    max-width: 333px;
    cursor: pointer;

    .main__items__card__item-cover {
      background-image: url("../../assets/item-cover.png");
      background-position: center;
      max-width: 333px;
      height: 200px;
      position: relative;
      overflow: hidden;

      .top-label {
        display: flex;
        align-items: center;
        position: absolute;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid var(--tech-scroll-bar, #f2f2f2);
        padding: 4px 11px;
        top: 13px;
        left: 12px;
        color: var(--font-primary, #333);
        text-align: right;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        z-index: 1;

        .fire {
          height: 20px;
          width: 20px;
          background-image: url("../../assets/fire.svg");
          background-repeat: no-repeat;
        }
      }

      .bottom-label {
        position: absolute;
        bottom: 13px;
        left: 12px;
        border-radius: 4px;
        background: var(--brand-primary, #7397f5);
        padding: 6px 10px;
        color: var(--tech-white, #fff);
        text-align: right;

        /* General/Header AC, 14 */
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px; /* 100% */
        z-index: 1;
      }
    }
    .main__items__card__name {
      color: var(--font-secondary, #aaa);
      margin-top: 16px;
      /* General/Main, 14 */
      font-family: PT Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
    }

    .main__items__card__full-name {
      color: var(--font-primary, #333);
      margin-top: -5px;
      /* General/Main, 14 */
      font-family: PT Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
    }

    .main__items__card__price {
      color: var(--font-primary, #333);

      /* Mobile/Header AC, 16 */
      font-family: PT Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 14px; /* 87.5% */

      .main__items__card__prev-price {
        color: var(--font-secondary, #aaa);
        font-family: PT Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */
        text-decoration-line: line-through;
      }
    }

    .main__items__card__btn {
      margin-top: -3px;
      color: var(--brand-primary, #7397f5);
      font-family: PT Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      padding: 10px 15px;
      border-radius: 4px;
      border: 1px solid var(--brand-primary, #7397f5);
      background: var(--tech-white, #fff);
      cursor: pointer;
    }

    .main__items__card__item-cover-empty {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .main__items__card__btn-empty {
      color: var(--font-secondary, #aaa);
      width: 100%;
      font-family: PT Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 14px;
      display: flex;
      padding: 11px 16px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      border-radius: 4px;
      border: 1px solid var(--font-secondary, #aaa);
      background: var(--tech-white, #fff);
      margin-top: 60px;
      cursor: pointer;
    }
  }

  .main__items__card:hover .main__items__card__full-name {
    color: var(--font-hover, #125bae);

    /* General/Main, 14 */
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
  }

  .main__items__card:hover .main__items__card__item-cover {
    background-size: 500px;
  }

  .main__items__card__item-cover--empty::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 1563px) {
  .main__items {
    .main__items__card {
      max-width: 213px;

      .main__items__card__item-cover {
        background-image: url("../../assets/item-cover.png");
        background-position: center;
        max-width: 213px;
        height: 200px;
        position: relative;
        overflow: hidden;
      }

      .main__items__card__btn-empty {
        margin-top: 45px;
      }
    }
  }
}

@media screen and (max-width: 965px) {
  .main__items {
    .main__items__card {
      max-width: 165.5px;
    }
  }
}
